---
import Layout from '../layouts/Layout.astro'

const songs = [
    {
        name: 'Goddá, hej hopp!',
        lyric: 'Goddá hej hopp välkomna till alla här. Goddá, goddá, goddá Vi ska sjunga, vi ska dansa och ha det bra. Goddá, goddá, goddá Tra la la la…..',
        book: 'Flyg lilla fjäril',
        publisher: 'Lutfisken',
    },
    {
        name: 'Jag lyfter dig upp',
        lyric: 'Jag lyfter dig upp, vi ser på varann’ nu snurrar vi runt som i dans, ja vi tar oss en vals. Jag håller dig nära intill mig, jag känner ditt hjärta slå mot mig. Min lilla fina baby, jag älskar dig!',
        book: '',
        publisher: 'FS studieförbund',
    },
    {
        name: 'Stor våg, liten våg',
        lyric: '',
        book: 'Gunga lite grann',
        publisher: 'Natur & Kultur',
    },
    {
        name: 'Hej och hå min lilla tå',
        lyric: '',
        book: 'Minitrams 2 -CD',
        publisher: 'Bönan Records',
    },
    {
        name: 'Tillsammans',
        lyric: '',
        book: 'Låtar som tänder',
        publisher: 'Lutfisken',
    },
    {
        name: 'Kalla förstås',
        lyric: '',
        book: 'Musiklek',
        publisher: 'Musikrummet',
    },
    {
        name: 'Fem små fingrar',
        lyric: '',
        book: 'Musiklek',
        publisher: 'Musikrummet',
    },
    {
        name: 'Vi sitter här och skramlar',
        lyric: 'Vi sitter här och skramlar. Vi sitter här och skramlar med tamburiner, maraccas, maraccas. Maraccas, maracas det låter bra Vi spelar skrammel här idag. Skramla, skramla………',
        book: 'Elefantboken',
        publisher: 'Lutfisken',
    },
    {
        name: 'Vyss lull lilla palt',
        lyric: 'Vyss lull lilla palt, leka får du sedan. Alla musbarn överallt, sover allaredan. Somna sött i vaggan din, jag ska inte störa. Räven sover också nu, med svansen under örat.',
        book: 'Klas Klättermus visor',
        publisher: 'Bonniers',
    },
    {
        name: 'Namnhejsan',
        lyric: '//: Hejsan Philip, hej på dig. Kul o´se dej här igen. :// Välkomna alla nu sjunger vi. Vi hoppar och dansar och virvlar runt. Vilma är här, Hulda är här, Lisa är här, Jakob och Max är här.	',
        book: 'Till din baby',
        publisher: 'Plumppu Musikproduktion',
    },
    {
        name: 'Spela maraccas',
        lyric: '',
        book: 'Till din baby',
        publisher: 'Plumppu Musikproduktion',
    },
    {
        name: 'Gungtur med båten',
        lyric: 'Gung, gung, gungeligung, gunga här med mig en stund. Vi ska ut och ro nu. Gung, gung, gungeligung, gunga här med mig en stund. Gung, gung, gungeligung, gunga här med mig en stund. Vi ror ut på havet.				',
        book: 'Till din baby',
        publisher: 'Plumppu Musikproduktion',
    },
    {
        name: 'Kan du dansa',
        lyric: '',
        book: 'Till din baby',
        publisher: 'Plumppu Musikproduktion',
    },
    {
        name: 'Rida i galoppsan',
        lyric: '',
        book: 'Till din baby',
        publisher: 'Plumppu Musikproduktion',
    },
    {
        name: 'Fåglarna flyger',
        lyric: '',
        book: 'Till din baby',
        publisher: 'Plumppu Musikproduktion',
    },
    {
        name: 'Nalles vaggsång',
        lyric: '',
        book: 'Till din baby',
        publisher: 'Plumppu Musikproduktion',
    },
    {
        name: 'Hur rider pappa',
        lyric: '',
        book: '',
        publisher: '(traditionell)',
    },
    {
        name: 'Lilltåa',
        lyric: 'Lilltåa, Tåtilla, Tillerosa, Kroknosa och Stortampen upp i vädret!',
        book: 'Visor i väntan',
        publisher: 'Proprius',
    },
    {
        name: 'Spring efter vatten',
        lyric: '',
        book: 'Visor i väntan',
        publisher: 'Proprius',
    },
    {
        name: 'Kille-kille-kill',
        lyric: 'Först kommer Tummetott, säger, ska vi göra nåt? Ja säger Pek, vi kan väl leka en lek? Nej säger Lång, jag vill hellre sjunga en sång. Usch säger Ring, jag vill ingenting. Då säger Lill, vet ni vad jag vill? Kille-kill, kille-kill!',
        book: 'Lilla Vickevire och hans vänner',
        publisher: 'Lutfisken',
    },
    {
        name: 'Bomchicka',
        lyric: '',
        book: '',
        publisher: '(traditionell)',
    },
    {
        name: 'Jag vill ha mat sa tummetott',
        lyric: 'Jag vill ha mat sa Tummetott. Vart ska vi ta´t sa Slickepott. I mors skafferi sa Långeman. Men då skvallrar lilla Vickevire, sa Gullebrand. Ja, det gör jag sa lilla Vickevire.',
        book: 'Rim och ramsor för händer, fötter och kropp',
        publisher: 'Bonnier Carlsen',
    },
]
---

<Layout>
    <main class="mx-auto max-w-screen-md">
        <h1 class="my-8 text-xl font-bold">Låtar och ramsor för babyrytmik</h1>

        <div class="grid max-w-prose gap-1">
            {
                songs.map((song) => (
                    <details class="bg-white">
                        <summary class="p-2 font-bold">{song.name}</summary>
                        <div class="mb-4 px-4">
                            {song.lyric && <p>Text: {song.lyric}</p>}
                            {song.book && <p>Bok: {song.book}</p>}
                            <p>Förlag: {song.publisher}</p>
                            {/* IDEA: Show the song text */}
                            {/* IDEA: Embed spotify link to listen to the song (if available) */}
                        </div>
                    </details>
                ))
            }
        </div>
        <!-- IDEA: Show the first N songs, and fade out the bottom section, with a centered button shown on top "Visa alla" to expand the full list -->
        <!-- IDEA: Show a section with heading, image, description and links to learn more about the book Till din baby -->
        <!--http://localhost:4321/babyrytmik-latlista    -->
    </main>
</Layout>
