---
import { SITE_NAME } from '../lib/constants'
import EncryptedEmail from './EncryptedEmail.svelte'
import MobileNav from './MobileNav.svelte'

const links: { href: string; title: string }[] = [
    // {
    //     href: '/om',
    //     title: 'Om',
    // },
]
---

<nav class="sticky top-0 z-20 bg-sky-200 p-2 sm:p-4 md:px-6">
    <div
        class="mx-auto flex max-w-screen-lg items-center justify-between rounded-full"
    >
        <div class="flex h-8 items-center gap-4 sm:h-10">
            <a href="/" class="flex items-center text-base xs:text-xl"
                >{SITE_NAME}</a
            >
        </div>
        <div class="hidden flex-row items-center gap-4 sm:flex">
            {
                links.map(({ href, title }) => (
                    <a {href} class="link">
                        {title}
                    </a>
                ))
            }
            <EncryptedEmail client:load compact />
        </div>
        <MobileNav client:load class="sm:hidden" {links} />
    </div>
</nav>

<style lang="postcss">
    nav {
        @apply overflow-auto;
        scrollbar-gutter: stable both-edges;
    }
    .link {
        @apply relative font-bold no-underline;
    }
    .link:after {
        content: '';
        @apply absolute -bottom-1 left-0 right-0 mx-auto h-0.5 w-1/2 transition-all duration-300;
    }
    .link:hover:after {
        @apply w-4/5 bg-green-500;
    }
</style>
